body {
    background-color: black;
    background-repeat: no-repeat;
    background-size:1600px 1150px;
    letter-spacing: 1.5px;
    color:#FFF;font-weight:bold;
    font-family: Calibri;   
    overflow-x: hidden;
    overflow-y: scroll;
}
.bg-primary{
    background-color: rgb(12, 63, 171)!important;
}

.nav {
    background-color: transparent;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
.img-fluid{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main01{font-size: 16px;
    color:lightsteelblue;
    position: absolute;
    top:560px;
    right:560px;
}
.main02{font-size: 16px;
    color:lightsteelblue;
    position: absolute;
    top:900px;
    right:px;
}
.organ01{
    font-size: 16px;
    color:lightsteelblue;
    position: absolute;
    top:560px;
    right:150px;
}
.ves01{
    font-size: 16px;
    color:lightsteelblue;
    position: absolute;
    top:1912px;
    left:300px;
}
.mod01{
    font-size: 16px;
    color:lightsteelblue;
    position: absolute;
    top:0px;
    left:400px;
}
.rect {
    height: 120px;
    width: 250px;
    color: white;
    background-color: rgba(53, 97, 143, 1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.block-intro{
    border-style: none;
    height: 100%;
    width: 100%;
}
.links{
    color:#FFF;font-weight:bold;
}