body {
    background-color: black;
    background-repeat: no-repeat;
    background-size:1600px 1150px;
    color:#FFF;font-weight:bold;
}
.nav {
    background-color: transparent;
}
.block-intro{
    background-image: url("/assets/img/Home.png");
    border-style: none;
    height: 100%;
    width: 100%;
}
.links{
    color:#FFF;font-weight:bold;
}
